<configuration debug="false">
    <property name="LOG_DIR" value="log/"/>
    <timestamp key="bySecond" datePattern="HH:mm:ss"/>
    <timestamp key="byDate" datePattern="yyyy-MM-dd"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ERROR_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/${byDate}/error-${bySecond}.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="WARN_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/${byDate}/warn-${bySecond}.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="INFO_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/${byDate}/info-${bySecond}.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="info" level="INFO">
        <appender-ref ref="INFO_FILE"/>
    </logger>

    <logger name="warn" level="WARN">
        <appender-ref ref="WARN_FILE"/>
    </logger>

    <logger name="error" level="ERROR">
        <appender-ref ref="ERROR_FILE"/>
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>